# Visual Studio Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# Node.js
node_modules

.ansible/
.python-version
main.py
pyproject.toml
uv.lock
.venv/
