---
- name: "Ensure netdata service user is present"
  ansible.builtin.user:
    name: netdata
    comment: "Netdata Monitoring"
    shell: /sbin/nologin
    system: true
    createhome: false
    home: /var/lib/netdata
    state: present

- name: "Ensure netdata is installed (apt)"
  ansible.builtin.apt:
    name:
      - uuid-runtime
      - netdata
      - curl
    state: present
    update_cache: true
    cache_valid_time: 3600
  when: ansible_pkg_mgr == "apt"

- name: "Ensure netdata is installed (dnf)"
  ansible.builtin.dnf:
    name:
      - util-linux
      - openssl
      - netdata
    state: present
    update_cache: true
  when: ansible_pkg_mgr == "dnf"

- name: "Ensure netdata is installed (zypper)"
  community.general.zypper:
    name:
      - netdata
    state: present
    update_cache: true
  when: ansible_pkg_mgr == "zypper"

- name: "Ensure netdata is started"
  ansible.builtin.service:
    name: netdata
    state: started
