 # netdata configuration
 #
 # You can get the latest version of this file, using:
 #
 #  netdatacli dumpconfig > /etc/netdata/netdata.conf
 #
 # You can also download it using:
 #
 #  wget -O /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
 # or
 #  curl -o /etc/netdata/netdata.conf http://localhost:19999/netdata.conf
 #
 # You can uncomment and change any of the options below.
 # The value shown in the commented settings, is the default value.
 #

[global]
    run as user = netdata

    # default storage size - increase for longer data retention
    page cache size = 32
    dbengine multihost disk space = 256

[web]
    mode = {{ netdata_web_mode }}
    default port = {{ netdata_web_port }}
{% if netdata_web_bind_to is defined and variable is not none %}
    bind to = {{ netdata_web_bind_to }}
{% endif %}
{% if netdata_web_allow_from is defined and variable is not none %}
    allow connections from = {{ netdata_web_allow_from }}
{% endif %}
